body {
    color: black;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 70%;
    padding: 0.9em;
    text-align: left;
    border: 1px solid gray;
    margin: 0 auto;
}

.container h1 {
    font-size: 20px;
}

.cabecera {
    margin: -15px;
    padding: 10px;
    color: white;
    background-color: darkblue;
    display: flex;
}

.tagline {
    text-align: right;
    margin-left: auto;
}